digraph db {

  graph [
    rankdir="LR"
  ];
  node [
    shape="plaintext"
  ];

  {{ range .DB.Tables }}

    "{{ .TableName }}" [
      label=<<table border="0" cellborder="1" cellspacing="0">
        <tr><td colspan="4">{{- .TableName -}}</td></tr>
        <tr><td>Name</td><td>Type</td><td>Unsigned</td><td>Nullable</td></tr>
        {{- range .Columns }}
          <tr>
            <td port="{{ .ColumnName }}@" align="left">{{ .ColumnName }}</td>
            <td align="left">{{ .Col.DatabaseTypeName }}</td>
            <td>{{ if .Col.Unsigned }}Y{{ end }}</td>
            <td port="{{ .ColumnName }}">{{ if .Nullable }}Y{{ end }}</td>
          </tr>
        {{- end }}
      </table>>
    ]; 

    {{ range .FKs }}
      {{ $refCols := .RefColumns }}
      {{ range $i, $col := .Columns }}
        {{ $refCol := index $refCols $i }}
        "{{ $col.Table.TableName }}":"{{ $col.ColumnName }}":e -> "{{ $refCol.Table.TableName }}":"{{ $refCol.ColumnName }}@":w;
      {{ end }}
    {{ end }}

  {{ end }}

}
